/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

:root {
    --main-color: #7453fc;
    --main-color-alt: white;
    --main-transition: 0.3s;
    --section-padding: 60px;
    --section-background: #ececec;
    --second-background: #fafafa;
    --p-color: #777;
    --bg-color: #282b2f;
    --border: #404245;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
    background-image: url(../imgs/dark-bg.jpg);
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* header  */
.header {
    color: black;
    padding: 3px 0;
    background-color: var(--main-color-alt);
    max-width: 1160px;
    max-width: 100%;
    /*   margin: 20px auto;*/
    margin: 0;
}

.header .container {
    position: relative;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header .container .toggle {
    cursor: pointer;
    font-size: 35px;
    right: 5%;
    position: absolute;
    align-items: center;
}

.header .container .links {
    transition: var(--main-transition);
    align-items: center;
    display: flex;
}

.header .container ul {
    text-align: center;
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
    align-items: center;
    text-transform: capitalize;
    transition: var(--main-transition);
}

.header .container ul li {
    padding: 15px;
    font-size: 18px;
    border-radius: 43px;
    transition: var(--main-transition);
}

.header .container ul li:nth-child(5) {
    background-color: var(--main-color);
}

.header .container ul li:nth-child(5) a {
    color: var(--main-color-alt);

}

.header .container ul li:hover {
    background-color: var(--main-color);
}

.header .container ul li:hover a {
    color: var(--main-color-alt);
}

.header .container ul li a {
    color: black;
}

.xmark {
    cursor: pointer;
    font-size: 35px;
    right: 5%;
    position: absolute;
    align-items: center;
    display: none;
}

/* landing */
.landing {
    height: 100vh;
    text-transform: capitalize;
    color: white;
    text-align: center;
}

.landing::before {
    background-image: url(../imgs/explore-bg.jpg);
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100vh - 50px);
    left: 0;
    top: 6.8%;
    z-index: -1;
}

.landing .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.landing .text h4 {
    font-size: 30px;
    margin-bottom: -60px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding-top: 60px;
}

.landing .text h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 66px;
    text-transform: uppercase;
}

.landing div {
    display: flex;
    gap: 70px;
}

.landing div a {
    position: relative;
    padding: 15px 50px;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 100px;
    font-weight: 600;
    transition: var(--main-transition);
}

.landing div a::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 2px;
    background: var(--main-color-alt);
    left: 10%;
    bottom: 0px;
}

.landing div a:nth-child(1) {
    background-color: var(--main-color);
}

.landing div a:nth-child(2) {
    background-color: transparent;
    border: 1px solid var(--main-color);

}

.landing div a:nth-child(1):hover {
    background-color: var(--main-color-alt);
    color: var(--main-color);
}

.landing div a:nth-child(2):hover {
    background-color: var(--main-color);
}

/* form */
.form {
    color: white;
    padding: var(--section-padding) 0px;
}

.form h1 {
    position: relative;
    width: fit-content;
    margin: 10px auto 40px;
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
}

.form h1::before {
    position: absolute;
    content: "";
    width: 30%;
    height: 2px;
    background-color: var(--main-color);
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.form h1 span {
    color: var(--main-color);
}

.form .container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #37393c;
    padding: 40px 30px;
    border: 1px solid var(--border);
    border-radius: 30px;
    gap: 20px;
}

.form .container form span {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

.form .container form span:nth-child(1),
.form .container form span:nth-child(2),
.form .container form span:nth-child(3) {
    width: 30%;
}

.form .container form span:nth-child(4),
.form .container form span:nth-child(5) {
    width: 45%;
}

.form .container form span:nth-child(7) {
    width: 68%;
    position: relative;
}

.form .container form span:nth-child(7) input {
    position: relative;
    padding: 15px 50px;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 100px;
    font-weight: 600;
    transition: var(--main-transition);
    background-color: var(--main-color);
    cursor: pointer;
}

.form .container form span:nth-child(7) input:hover {
    background-color: var(--main-color-alt);
    color: var(--main-color);
}

.form .container form span:nth-child(7)::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    background-color: var(--main-color-alt);
    left: 25%;
    bottom: 0;
}

.form .container form span input:focus {
    outline: none;
}

.form .container form span input {
    padding: 10px 15px;
    background-color: #282b2f;
    border: 1px solid #404245;
    color: #afafaf;
    margin-top: 10px;
    border-radius: 30px;
}

.form .container form span:nth-child(6) input {
    padding: unset;
    background-color: unset;
    border: unset;
    margin-top: 10px;
    border-radius: unset;
}

.form .container form span input::placeholder {
    color: #afafaf;
}

/* item */
.item {
    color: white;
    padding: var(--section-padding) 0px;
}

.item h1 {
    position: relative;
    width: fit-content;
    margin: 10px auto 40px;
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
}

.item h1::before {
    position: absolute;
    content: "";
    width: 30%;
    height: 2px;
    background-color: var(--main-color);
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.item h1 span {
    color: var(--main-color);
}

.item .container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.item .container .img img {
    width: 600px;
    border-radius: 20px;
}

.item .container .info {
    text-transform: capitalize;
    text-align: center;
}

.item .container .info h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 25px;
}

.item .container .info .auther {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding-bottom: 25px;

}

.item .container .info .auther img {
    border-radius: 50%;
}

.item .container .info .auther h3 {
    text-align: start;
}

.item .container .info .auther h3 a {
    color: var(--main-color);
    padding: 10px;
    text-transform: lowercase;
    display: block;
}

.item .container .info .text {
    line-height: 2;
    padding: 20px 0px;
    text-transform: capitalize;

}

.item .container .info .bid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item .container .info .bid p {
    line-height: 2;
}

.item .container .info .bid p span[class="color"] {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 700;
}

.item .container .info .bid p span[class="mark"] {
    font-style: normal;
    color: #afafaf;
}

/* footer */
.footer {
    color: var(--main-color-alt);
    text-align: center;
    padding: var(--section-padding) 20px;
    text-transform: capitalize;
    background-image: linear-gradient(90deg, #7d5afe, #9d54f4);
}

.footer a {
    color: var(--main-color-alt);
    font-weight: bold;
}

.footer span {
    font-weight: bolder;
}